a:hover {
    cursor: pointer;
}

body {
    margin: 0px; 
}

.button{
    cursor: pointer;
}

.underline{
    cursor: pointer;
}

.underline:hover {
    text-decoration-line: underline;
    font-weight: bold;
}

.button:hover {
    color: white;
    background-color: black;
}

header {
    background-image: url(https://images.pexels.com/photos/443401/pexels-photo-443401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    margin: 0px;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#overlay{
    background-color: rgba(0 , 0, 0, 0.3);
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}

header nav {
    font-size:  1.5em;
    padding: 0px 5px; 
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
  
#logo {
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
}
   
#menu {
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase; 
    margin: 0px;
}
  
#menu a {
    margin-left: 15px;
    color: white;
    text-decoration-line: none;
}
  
#menu a:hover{
    text-decoration: underline;
    text-decoration-color: yellow;
}


header h1  {
    text-align: center;
    margin-bottom: 200px; 
    font-family: "Roboto", sans-serif;
    font-style: oblique;
    font-size: 5em;
    letter-spacing: 30px;
    z-index: 1;
    text-transform: uppercase;
}


#ham {
    display: none;
} 

#ham div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0px;
}

section {
    margin: 5%;
}

#cerca {
    align-items: center;
    text-align: center;
}

#cerca h1{
    font-family: "Lato", sans-serif;
    font-size: 6em;
}

#cerca h3{
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    margin-top: -50px;

}

#cerca input{
    height: 15px;
}


.sedi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}



.underline {
    font-family: "Raleway", sans-serif;
    margin-top: 10px;

}

.sedi img {
    height: 70%;
    object-fit: cover;
    
}

.sedi div {
    width: 30%;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;  
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_preferiti {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}



.hidden {
    display: none;
}

.sedi .hidden {
    display: none;
}

footer{
    text-align: center;
}

#footer1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(34,36,36);
  color: white;
  width: 100%;
  height: 200px;
}

#logofooter {
    font-size: 3em;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration: initial; 
}

#logofooter p {
    font-size: .3em;
}
#logofooter:hover {
    cursor: pointer;
}

#socialfooter {
  font-family: "Poppins",sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

footer img {
  height: 50px;
  width: 50px;
}

#footer-work {
display: flex;
flex-direction: column;
}

#footer-work h6 {
font-family: "Poppins", sans-serif;
font-size: 1.4em;
text-transform: uppercase;
width: 100%;
margin-top: 0px;
}

#footer-work a {
border-radius: 0px;
border: 2px solid white;
padding: 4px;
font-size: 1em;
font-family: "Poppins", sans-serif;
margin-top: -30px;
}

#footer-work a:hover {
color: black;
background-color: white;
}

#area-riservata{
  font-size: .7em;
  font-family: "Poppins", sans-serif ;
}

#area-riservata a{
    color: white;
}


#area-riservata a:hover{
  text-decoration: underline;
}

section p {
    font-family: 'Poppins', sans-serif;
}


@media(max-width: 1200px) {

    .row{
        font-size: .8em;
    }

    .row_preferiti{
        font-size: .8em;
    }
}

@media(max-width: 1100px) {
    #api_1 h1 {
        font-size: 3.1em;
    }

    #api_1 h3 {
        font-size: 1em;
    }

    #api_1 h4{
        font-size: .8em;
      
    }

    #api_2 h1 {
        font-size: 3.1em;
    }

    #api_2 h3 {
        font-size: 1em;
    }

    #api_2 h4{
        font-size: .8em;
      
    }
}

@media(max-width: 975px) {

    .row {
        font-size: .7em;
    }

    .row_preferiti{
        font-size: .7em;
    }
}




@media(max-width: 870px) {

    .corsi{
        flex-wrap: initial;
        flex-direction: column;
        align-items: center;
    }

    .corsi_preferiti{
        flex-wrap: initial;
        flex-direction: column;
        align-items: center;
    }

    .corsi div {
        width: 70%;
    }

    .corsi_preferiti div {
        width: 70%;
    }

    #cerca h1 {
        font-size: 4em;
    }
}

@media (max-width: 850px) {
    #menu {
      display: none;
    }

  
    #ham {
      display: block;
    }

    #api_1 h1 {
        font-size: 2.8em;
    }

    #api_1 h3 {
        font-size: .8em;
    }

    #api_2 h1 {
        font-size: 2.8em;
    }

    #api_2 h3 {
        font-size: .8em;
    }
}

@media(max-width: 800px) {

    #logofooter {
        font-size: 1.3em;
    }

    #socialfooter {
        font-size: .8em;
    }

    footer img {
        height: 30px;
        width: 30px;
      }

    #footer-work h6 {
        font-size: .8em;
    }

    #footer-work a {
        font-size: .8em;
        padding: 2px;
        margin-top: -10px;
    }

   #area-riservata {
       font-size: .3em;
   }

   
}


@media(max-width: 750px){
    header h1{
        font-size: 2.5em;
    }
}


@media(max-width: 500px) {

    header h1{
        font-size: 1em;
    }

    #logofooter {
        font-size: .9em;
    }

    #socialfooter {
        font-size: .4em;
    }

    footer img {
        height: 20px;
        width: 20px;
      }

    #footer-work h6{
        font-size: .4em;
    }

    #footer-work a {
        font-size: .4em;
        padding: 1px;
        margin-top: -10px;
    }

    #cerca h1{
        font-size: 2.8em;
    }

    #cerca h3 {
        font-size: 1em;
    }

    #cerca input {
        width: 80px;
        height: 5px;
    }

    #risultati1 {
        font-size: .7em;
    }

    #risultati2 {
        font-size: .7em;
    }

}












  